* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 3em;
}

header {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 10px;
}

ul {
    cursor: pointer;
}

.info-hero{
    padding: 40px 80px 20px 80px;
}

.buttons-hero {
    display: flex;
}

.nav-hero {
    margin-top: 20px;
    width: 80vw;
    height: 5px;
}

.trusted {
    width: 100%;
    height: 90vh;
    background-color: white;
    padding: 0px 14%;
}

#Reasons {
    width: 100%;
    height: 90vh;
    background-color: white;
    padding: 0px 14%;
}

section.our-customers {
    width: 100%;
    height: 90vh;
    background-color: white;
    margin-top: 5%;
}

footer {
    width: 100%;
    height: 60vh;
    background-color: white;
    padding: 0px 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}